# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Airflow
airflow.db
airflow.cfg
unittests.cfg
webserver_config.py

# Airflow logs
logs/**/*.log
logs/**/*.pid
logs/**/*.err

# Dados
*.csv
*.xlsx
*.parquet

# Jupyter
.ipynb_checkpoints
.jupyter
jupyter_notebook_config.py

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Volumes do Docker
postgres_data/
postgres_airflow_data/

*.log